{{#each books as |book|}}
  <div class="books-table" data-id="{{book.id}}">
    <h6><strong>Title:</strong> {{book.title}}</h6>
    <h6><strong>Author:</strong> {{book.author}}</h6>
  </div>
{{/each}}
